# Neighborhoods in Toronto
The purpose of this notebook is to scrape and process Toronto neighborhood data

## Import Pandas

In [14]:
import pandas as pd

## Scrape Table Cells from Wikipedia Article

Use Pandas' read_html() to pull all tabular data from the Wikipedia page:

In [37]:
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0)

## Create Dataframe

Create a dataframe from only the first table on the page, which is index 0.

In [41]:
rough_df = dfs[0]
rough_df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

## Remove "Not assigned" boroughs from the table

In [88]:
df = rough_df[rough_df["Borough"]!="Not assigned"]
df.reset_index(drop=True).head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

## Shape of the Dataframe

In [49]:
df.shape

(103, 3)

In [51]:
print("There are %d unique postal codes and %d columns in the dataframe"
    %(df.shape[0],df.shape[1]))

There are 103 unique postal codes and 3 columns in the dataframe

In [66]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [67]:
df_data_1.shape

(103, 3)

##

In [82]:
geo_df = df_data_1.set_index("Postal Code")
geo_df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [89]:
df2 = df.join(geo_df, on="Postal code")
df2.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
5,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494